
.about_banner{
    width: 90%;
    margin: auto auto;
    height:223px;
    background-image:   linear-gradient(rgba(55, 55, 56, 0.2), rgba(55, 55, 56, 0.2)),
                        url(../../assets/aboutBanner.jpg);
    background-size: cover;
    border-radius: 10px;
    @media screen and (min-width:780px) {
        width: 86%;
        margin:auto auto;
        background-image:   linear-gradient(rgba(55, 55, 56, 0.2), rgba(55, 55, 56, 0.2)),
                            url(../../assets/aboutBanner2.jpg);
    }
    img{
        visibility: hidden;
        height:223px;
        width: 100%;
        @media screen and (min-width:1280px) {
            display: none;
            object-position: 0px -100px;
        }
    }
}
.about_collapse{
    width: 90%;
    margin:20px auto;
    @media screen and (min-width:778px) {
        width: 71.5%;
    }
    
}

