.ContainerMain{
    width:90%;
    margin:auto auto;
    @media screen and (min-width: 1080px)  {
        width: 86%;
    }
}

.about_banner{
    width: 100%;
    margin: auto auto;
    height:223px;
    background-image:   linear-gradient(rgba(55, 55, 56, 0.2), rgba(55, 55, 56, 0.2)),
                        url(../../assets/aboutBanner.jpg);
    background-size: cover;
    border-radius: 10px;
    @media screen and (min-width:768px) and (max-width:1079px) {
        width: 100%;
    }
    @media screen and (min-width:1080px) {
        width: 100%;
    }
    @media screen and (min-width:768px) {
        background-image:   linear-gradient(rgba(55, 55, 56, 0.2), rgba(55, 55, 56, 0.2)),
                            url(../../assets/aboutBanner2.jpg);
    }
    img{
        visibility: hidden;
        height:223px;
        width: 100%;
        @media screen and (min-width:1280px) {
            display: none;
            object-position: 0px -100px;
        }
    }
}
.about_collapse{
    width: 100%;
    margin:20px auto;
    @media screen and (min-width:768px) {
        width: 83%;
    }
    @media screen and (min-width:768px) {
        .collapse_content__container{
                min-height: 20px;
                height: fit-content;
            }
        }
    
    
}

