@import '../../utils/colors.scss';

.logement_main{
    width:90%;
    min-height: 80vh;
    margin:auto;
    margin-bottom: 20px;
    @media  screen and (min-width:1080px) {
        width:86%;
    }
}

@media  screen and (min-width:768px) {
    .info_header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.container_title{
    width: 100%;
    color:$color-primaire;
    h1{
        margin-top:15px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: left;
        @media  screen and (min-width:768px) {
            font-size: 36px;
            margin-top:30px;
        }
    }
    >p{
        margin-top: 0px;
        font-size: 14px;
        @media  screen and (min-width:768px) {
            font-size: 18px;
        }
    }
    .tags_container{
        max-width: 100%;
        color:$color-primaire;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >div{
            display:grid;
            margin-right: 10px;
        }
    }
}
.Rating_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.1rem;
    align-items: center;
    @media  screen and (min-width:768px) {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-around;
    }
    .stars{
        img{
            padding-top: 10%;
        }
    }
    .host_info{
        display:flex;
        flex-direction: row;
        div{
            min-width: 93px;
            line-height: 33px;
            color:$color-primaire;
            font-size: 12px;
            margin-right: 0.7rem;
            text-align: right;
            overflow: hidden;
            @media  screen and (min-width:768px) {
                font-size: 18px;
                height: 64px;
                line-height: 64px;
            }
        }
        img{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            @media  screen and (min-width:768px) {
                height: 64px;
                width: 64px;
                
            }
        }
    }

}

.collapse_container{
    display: flex;
    flex-direction: column;
    >div{
        margin-top: 26px;
        @media screen and (min-width:768px) {
           width: 45%;
        }
        
        p{
            margin:5px 0px;
            line-height: 142.6%;
            @media screen and (min-width:768px) {
                font-size: 18px;
            }
        }
    }
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    .collapse_content {
        @media screen and (min-width:768px) {
            font-size: 18px !important;
        }
    }
}


