.linkCard{
    border-radius:10px;
    position:relative;
    margin: auto auto;
    margin-bottom:  20px;
    @media screen and (min-width:768px) and (max-width:1079px) {
        height:340px;
    }
    @media screen and (min-width:1080px) {
        height:340px;
    }
} 

.ImgCard {
    height: 100%;
    border-radius:10px;
    object-fit:cover;
    filter: brightness(75%);
    z-index:99;
}
 
.PCard {
    font-size:18px;
    display: block;
    width: 70%;
    margin: auto auto;
    position:absolute;
    z-index:100;
    color:white;
    margin-top: -80px;
    margin-left:20px;
}


