.linkCard{
    position:relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
} 

.ImgCard {
    height: 100%;
    border-radius:10px;
    object-fit:cover;
    object-position: center;
    filter: brightness(75%);
    z-index:99;
}
 
.PCard {
    font-size:18px;
    display: block;
    width: 70%;
    margin: auto auto;
    position:absolute;
    z-index:100;
    color:white;
    margin-top: -80px;
    margin-left:20px;
}


