@import '../../utils/colors.scss';

.HeaderContainer{
    width:90%;
    margin:auto auto;
    font-size: 12px;
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-bottom:20px;
    @media screen and (min-width:1080px) {
        font-size: 24px;
        width: 86%;
        padding-top: 20px;
        padding-bottom:40px;
    }
    .LogoContainer{
        width:42%;
        @media screen and (min-width:1080px) {
            width: 17%;
            align-items: left;
        }
    }
    .NavContainer{
        width:140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        @media screen and (min-width:1080px) {
            width: 25%;
        }
        a{
            font-weight: 500;
            color:$color-primaire;
            &:hover,
            :active{
            border-bottom: 1px solid;
            }
            @media screen and (max-width:1080px) {
                &::first-line{
                    text-transform: uppercase;
                }
            }
        }    
    }
}