@import '../../utils/colors.scss';

.HeaderContainer{
    width:90%;
    margin:auto auto;
    font-size: 12px;
    margin-top: 20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-bottom:20px;
    @media screen and (min-width:780px) {
        font-size: 24px;
        width: 86%;
        padding-top: 20px;
        padding-bottom:40px;
    }
    .LogoContainer{
        width:42%;
        @media screen and (min-width:780px) {
            width: 16.5%;
            align-items: left;
        }
    }
    .NavContainer{
        width:42%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        @media screen and (min-width:780px) {
            width: 24%;
        }
        a{
            font-weight: 500;
            color:$color-primaire;
            &:hover,
            active{
            border-bottom: 1px solid;
            }
        }    
    }
}