.BannerContainer{
    width:90%;
    height: 111px;
    margin:auto auto;
    margin-bottom:20px;
    position:relative;
    object-fit: cover;
    @media screen and (min-width:780px) {
      height: 223px;
      width:86%;
    }
    img{
      height: 100%;
      filter:brightness(75%);
      border-radius:10px;
      @media screen and (min-width:780px) {
        border-radius: 25px;
      }
    }
    h2{
    width:70%;
    color:#FFFFFF;
    position:absolute;
    left: 9.6%;
    right: 32.53%;
    top: 14.04%;
    bottom: 80.05%;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    @media screen and (min-width:780px) {
      width: 80%;
      left: 25.9%;
      right: 25.14%;
      top: 15.32%;
      bottom: 69.04%;
      font-size: 48px;
      line-height: 142.6%;
    }
    }
} 